.title {
    display: flex;
    text-align: center;
    justify-content: center;
    padding: 20px;
    font-size: 32px;
}

.container {
    display: flex;
    justify-content: center;
    padding: 10px;
    padding-bottom: 30px;
}

.categoryContainer {
    display: grid;
    grid-template-columns: repeat(4, auto);
    grid-gap: 35px;
    list-style: none;
    text-align:center;
    width: 70vw;
    justify-content: center;
}

.category {
    font-size: 16;
    color: grey;
    cursor: pointer;
}

.categorySelected {
    color: #73bd80;
}